:root {
  --color-primary: #8E3823;
  --color-secondary: #F6D49F;
  --color-accent: #5B7431;
  --color-neutral: #3E2723;
  --color-raised: #C2A477;
  --footer-height: 8vh;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

.content-box {
  background-color: var(--color-raised);
  color: var(--color-neutral);
  font-size: x-large;
  text-align: center;
  align-items: center;
}
.raised-card {
  background-color: var(--color-secondary);
}
.transparent {
  opacity: 0.5;
}

label {
  font-size: large;
  margin-top: 1em;
  text-align: left;
}

.heading {
  color: var(--color-neutral);
}

.error-text, .required-astrsk {
  color: var(--color-primary);
}
form .error-text {
  font-size: medium;
  text-align: center;
}

.form-control,
.form-control:focus,
.form-select,
.form-select:focus {
  background-color: var(--color-secondary);
  color: var(--color-neutral);
  border-color: var(--color-neutral);
}

.btn {
  font-size: x-large;
}

button {
  border: none;
  margin: 0 1em;
  color: var(--color-secondary);
  --bs-btn-active-bg: var(--color-secondary);
  --bs-btn-active-color: var(--color-neutral);
}
.btn-primary {
  border: none;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  --bs-btn-hover-bg: var(--color-accent);
  --bs-btn-hover-color: var(--color-neutral);
  --bs-btn-active-bg: var(--color-secondary);
  --bs-btn-active-color: var(--color-neutral);
}
.btn-secondary {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  --bs-btn-hover-bg: var(--color-primary);
  --bs-btn-hover-color: var(--color-neutral);
  --bs-btn-active-bg: var(--color-secondary);
  --bs-btn-active-color: var(--color-neutral);
}
.btn:disabled {
  background-color: grey;
}
